
  <%- include('../partials/header') -%>

  <main>
    <h3>Throw now: <span id="WhosGo"><%= result[1][0].uname %></span></h3>
    <ul id="data-list">
      <% result[0].forEach(item => { %>
        <li style="list-style-type: none; padding: 0;"><%= item.uname %> <%= item.score %></li>
      <% }); %>
    </ul>


    <h2>Your Scores</h2>
        
      <label for="d1">First Dart</label>
      <input type="number" id="d1" name="d1" placeholder="Enter value for first Dart1"  max="20" oninput="updateSum()" onblur="handleBlur('d1')">
      
          <button  id="btnD1" onclick="applyBonus('D', 'd1')">Double</button>
          <button id="btnT1" onclick="applyBonus('T', 'd1')">Triple</button>
     <br>
    
         
      <label for="d2" class="glable">Second Dart</label>
      <input type="number" class="w3-input" id="d2" name="d2" placeholder="Enter value for Second Dart" max="20" oninput="updateSum()" onblur="handleBlur('d2')">
      
          <button class="w3-button w3-theme" id="btnD2" onclick="applyBonus('D', 'd2')">Double</button>
          <button class="w3-button w3-theme" id="btnT2" onclick="applyBonus('T', 'd2')">Triple</button>
         
          
      <label for="d3" class="glable">Third Dart</label>
      <input type="number" class="w3-input" id="d3" name="d3" placeholder="Enter value for Third Dart" max="20" oninput="updateSum()" onblur="handleBlur('d3')">
  
      <button class="w3-button w3-theme" id="btnD3" onclick="applyBonus('D', 'd3')">Double</button>
      <button class="w3-button w3-theme" id="btnT3" onclick="applyBonus('T', 'd3')">Triple</button>
    
      <h2 id="sumTotal">Sum Total: 0</h2>
      <button class="w3-button w3-theme" type="button" onclick="postData('<%= group %>')">Save Score</button>
  </main>

  <main>
    <h2>Game Chat</h2>
  <ul id="chat-list" class="w3-ul w3-margin-bottom"></ul>

  <form id="chat-form" style="margin-bottom: 90px">
    <input class="w3-input" type="text" id="message-input" placeholder="Type a message...">
    <button class="w3-button w3-theme" type="button" onclick="sendMessage()">Chat</button>
  </form>
  </main>



  <%- include('../partials/footer') -%>





  


<script>
  // Update the data every 5 seconds using AJAX
  setInterval(() => {
   
    fetch('/updateData/<%= group %>') // replace with your server route for updating data
      .then(response => response.json())
      .then(updatedData => {
        const dataList = document.getElementById('data-list');
        dataList.innerHTML = updatedData.updatedData.map(item => `<li style="list-style-type: none; padding: 0;">${item.uname}  <span class='purple-text'>${item.score}<span></li>`).join('');
          const currentPlayerInfo = updatedData.currentPlayerInfo;
          document.getElementById('WhosGo').innerHTML = currentPlayerInfo
      //  / window.alert(currentPlayerInfo);
      })
      .catch(error => console.error('Error fetching updated data:', error));
  }, 2000);
</script>




  

  

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.emit('join', '<%= group %>');

    socket.on('chatMessage', (message) => {
      const chatList = document.getElementById('chat-list');
      const listItem = document.createElement('li');
      listItem.innerHTML = message;
      chatList.appendChild(listItem);
    });

    function sendMessage() {
      const messageInput = document.getElementById('message-input');
      const currentUrl = new URL(window.location.href);
      const whoFromQueryString = currentUrl.searchParams.get('who');
     
      const message = "<span class='purple-text'>"+whoFromQueryString +":</span>" + " " + messageInput.value ;

      socket.emit('chatMessage', { message, group: '<%= group %>' });
      messageInput.value = '';
    }


    // update database based on text boxes
    function updateSum() {

      
                // Get the values from the text boxes
                let d1Value = parseInt(document.getElementById('d1').value) || 0;
                let d2Value = parseInt(document.getElementById('d2').value) || 0;
                let d3Value = parseInt(document.getElementById('d3').value) || 0;
    
                // Calculate the sum total
                let sumTotal = d1Value + d2Value + d3Value;
    
                // Display the sum total on the page
                document.getElementById('sumTotal').innerText = 'Sum Total: ' + sumTotal;
    
                // Emit a 'updateSum' event to the server
                socket.emit('updateSum', { sumTotal, group: '<%= group %>' });
            }
    
            function applyBonus(bonusType, textBoxId) {
                // Get the current value of the corresponding text box
                let currentValue = parseInt(document.getElementById(textBoxId).value) || 0;
    
                // Apply bonus based on 'D' or 'T'
                if (bonusType === 'D') {
                    currentValue *= 2;
                } else if (bonusType === 'T') {
                    currentValue *= 3;
                }
    
                // Update the value in the corresponding text box
                document.getElementById(textBoxId).value = currentValue;
    
                // Update the total sum
                updateSum();
                socket.emit('scoreUpdated', { textBoxId, currentValue, group: '<%= group %>' });
            }
    
            function handleBlur(textBoxId) {
      // Get the current value of the text box
      let currentValue = parseInt(document.getElementById(textBoxId).value) || 0;

      // Update the total sum
      updateSum();

      // Emit a 'scoreUpdated' event to the server
      socket.emit('scoreUpdated', { textBoxId, currentValue, group: '<%= group %>' });
    }


            // Listen for 'sumUpdated' event
            socket.on('sumUpdated', ({ sumTotal }) => {
                // Update the displayed sum total on the client-side
                document.getElementById('sumTotal').innerText = 'Sum Total: ' + sumTotal;
            });

            
            socket.on('scoreUpdated', ({ textBoxId, currentValue }) => {
      // Update the value in the corresponding text box on other screens
      document.getElementById(textBoxId).value = currentValue;
      
    });

    socket.on('resetValues', () => {
 
  // Reset the values of the text boxes to 0 on all screens
  document.getElementById('d1').value = 0;
  document.getElementById('d2').value = 0;
  document.getElementById('d3').value = 0;
});
    // function to post the data of total score back to the server  // Function to handle the "Save Score" button click
    function postData(x) {
  // Call the updateSum function to calculate the sumTotal
  updateSum();

  // Get the game number from the query string
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const who = urlParams.get('who'); // Assuming the parameter name is 'who'
 const game = x

   // Reset the values of the text boxes to 0
   document.getElementById('d1').value = 0;
  document.getElementById('d2').value = 0;
  document.getElementById('d3').value = 0;

  
  // Get the sumTotal value
  const sumTotal = parseInt(document.getElementById('sumTotal').innerText.split(':')[1].trim()) || 0;

  // Make an AJAX POST request to send the sumTotal and game number to the server
  fetch(`/saveScore/${sumTotal}/${who}/${game}`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
  })
  .then(() => {
    
  })
  .catch(error => console.error('Error saving score:', error));


}
  </script>



</body>
</html>
